<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-capitalize" style="font-size: 18px;">endpoint</th>
        <th scope="col" class="text-capitalize" style="font-size: 18px;">metodo</th>
        <th scope="col" class="text-capitalize" style="font-size: 18px;">seguridad</th>
        <th scope="col" class="text-capitalize" style="font-size: 18px;"></th>
        <th scope="col" class="text-capitalize" style="font-size: 18px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <input type="text">
        </th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> 